<tr>
    <td>{{currency}}</td>
    <td>{{exchange}}</td>
    <td>{{total}}</td>
    <td>{{price}}</td>
    <td>{{date}}</td>
    <td>{{getBagItemPercentage exchanges exchange currency price}}%</td>
    <td><a href="#" class="remove-bag-item" data-id="{{this.adding_date}}">{{intlGet "messages.bag.l16"}}</a></td>
</tr>
