<tr>
    <td>{{currency}}</td>
    <td>{{exchange}}</td>
    <td>{{price_expected}}</td>
    <td>{{condition}}</td>
    <td>{{getSignalCurrPrice exchanges exchange currency}}</td>
    <td><a href="#" class="remove-signals-item" data-id="{{k}}">{{intlGet "messages.signals.l11"}}</a></td>
</tr>
